body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0, 0.912);
}



.container {
    height: 85vh;
    width: 35vw;
    margin: 5vh auto;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 35%;
    background-color: #6943FF;
    color: white;
    padding: 0px 2vw;
}

#input-el {
    height: 5vh;
    width: 3vw;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    background-color: #1F2937;
}

.unit-card {
    width: 32vw;
    height: 12vh;
    text-align: center; 
    background-color: #273549;
    color: #CCC1FF;
}

.p-card {
    font-size: 14px;
}

#convert-btn {
    border: none;
    width: 6vw;
    height: 5vh;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #3D3D3D;
}

#convert-btn:hover {
    cursor: pointer;
}

#convert-btn:active {
    border: 1px solid #3D3D3D;
    transform: scale(0.98);
}

#input-el {
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 900;
    background-color: #6943FF;
    height: 7vh;
    width: 5vw;
}

h1 {
    margin-bottom: 0px;
    font-size: 27px;
}